<section id="skills" class="container content skills-container">
    <h2>Public Job Listings</h2>
    <!--<script id="gnewtonjs" type="text/javascript" src="//ec2-54-172-145-238.compute-1.amazonaws.com./career/iframe.action?clientId=4028f88c1ef7cb07011efa2a3183005f"></script>-->
    <script id="gnewtonjs" type="text/javascript" src="//newton.newtonsoftware.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>
    <!--<script id="gnewtonjs" type="text/javascript" src="//dev-focopreview.newtonsoftware.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//dev-cluster.newtonsoftware.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//dev.mylocal/career/iframe.action?clientId=8a80838f4f51d8b0014f525b120e000b"></script>-->

    <!--Used in a PE called mr19421-pe.newtonon.com-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//mr19421-pe.newtonon.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//localhost/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <!--Dev John Co-->
    <!--<script id="gnewtonjs" type="text/javascript" src="https://localhost/career/aggregateIframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//localhost/static/1.0.0-SNAPSHOT/career/aggregateIframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->

    <!--Skim (Lite) Company-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//localhost/career/iframe.action?clientId=ff8081816b478b74016b4813ac720000"></script>-->

    <!--<script id="gnewtonjs" type="text/javascript" src="//54.197.38.5/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->

    <!--<script id="gnewtonjs" type="text/javascript" src="//10.249.1.204/career/iframe.action?clientId=8a80838f531e1aef01531e1d72400009"></script>-->

    <!--Or jquery DOM ready loading the inline SLI-->
    <!--<div id="gnewtonjs"></div>
        <script>
            $(function(){$("#gnewtonjs").html('<script type="text/javascript" src="//192.168.56.101/career/iframe.action?clientId=8a80838f4f51d8b0014f525b120e000b"><\/script>');});
        </script>-->
</section>