<section id="skills" class="container content skills-container">
    <!--<script id="gnewtonjs" type="text/javascript" src="//ec2-54-172-145-238.compute-1.amazonaws.com./career/iframe.action?clientId=4028f88c1ef7cb07011efa2a3183005f"></script>-->
    <!--<script id="gnewtonjs" type="text/javascript" src="//newton.newtonsoftware.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>-->
    <script id="gnewtonjs" type="text/javascript" src="//dev-focopreview.newtonsoftware.com/career/iframe.action?clientId=8acf16914d0868db014d20f61d18582f"></script>
    <!--<script id="gnewtonjs" type="text/javascript" src="//192.168.56.101/career/iframe.action?clientId=8a80838f4f51d8b0014f525b120e000b"></script>-->
</section>
