<!DOCTYPE html>
<html>
	<head>
		<title>John Marks</title>
		<!--<base href="http://localhost:8080/">-->
		<base href="http://jettagozoom.github.io/Portfolio">
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- build:css ./../static/combined.css -->
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Muli">
		<link type="text/css" rel="stylesheet" href="reset.css">
		<link type="text/css" rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css">
		<link type="text/css" rel="stylesheet" href="main.css">
		<!-- endbuild -->
	</head>
    <body ng-controller="main" ng-app="JohnMarksPortfolio">
		<header>
			<div class="top">
                <div class="mobile-links">
                    <div class="hamburger" id="hamburger" ng-click="toggleHamburger(this, $event)">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="mobile-menu">
                        <ul>
                            <li>
                                <a href="http://www.linkedin.com/in/johnmarksjr" target="_blank">LinkedIn</a>
                            </li>
                            <li>
                                <a href="https://github.com/jettagozoom" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="mailto:johnmarksjr@gmail.com" target="_blank">Hire me</a>
                            </li>
                            <li>
                                <a href="images/resume.pdf" target="_blank">Resume</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <ul class="desktop-links">
					<li class="linkedinButton" tooltip title="Link to me" placement="left" delay="500">
						<a href="http://www.linkedin.com/in/johnmarksjr" target="_blank">
                            <i class="fa fa-linkedin"></i></a></li>
					<li class="githubButton" tooltip title="Repos" placement="bottom" delay="500">
						<a href="https://github.com/jettagozoom" target="_blank">
                            <i class="fa fa-github"></i></a></li>
					<!--<li class="gplusButton"><a href="http://plus.google.com/106697488228998596996" target="_blank">-->
						<!--<i class="fa fa-google-plus"></i></a></li>-->
					<li class="mailButton" tooltip title="Hire me" placement="bottom" delay="500">
						<a href="mailto:johnmarksjr@gmail.com" target="_blank">
                            <i class="fa fa-envelope"></i></a></li>
					<li class="resumeButton" tooltip title="Download resume" placement="bottom" delay="500">
						<a href="images/resume.pdf" target="_blank">
                            <i class="fa fa-file-pdf-o"></i></a></li>
				</ul>
			</div>
			<section class="container">
				<div class="navigator">
					<a class="name" href=""
					   tooltip title="Click here for additional info" placement="bottom" delay="500"
					   ng-click="toggleSummaries()">John<span>Marks</span></a>
					<ul class="menu" >
						<li id="workbtn" ng-class="{'selected': selectedPage === 'work'}">
							<a href="/work">Work</a></li>
						<li id="expbtn"  ng-class="{'selected': selectedPage === 'experience'}">
							<a href="/experience">Experience</a></li>
						<li id="skillsbtn" ng-class="{'selected': selectedPage === 'skills'}">
							<a href="/skills">Skills</a></li>
						<li id="careersbtn" ng-class="{'selected': selectedPage === 'careers'}">
							<a href="/careers">Careers</a></li>
					</ul>
				</div>
				<div class="browserType"
					 ng-if="showSummaries"><span class="isMobile">{{isMobileDeviceMQ?"Is Mobile using media query":"Is not Mobile using media query"}}</span>: {{mobileDeviceMQStr}}</div><br>
				<div class="browserType"
					 ng-if="showSummaries"><span class="isMobile">{{isMobileDeviceUA?"Is Mobile using userAgent str":"Is not Mobile using userAgent str"}}</span>: {{mobileDeviceUAStr}}</div>
			</section>
		</header>
		<!--<div class="dude" ng-class="headerPic()"></div>-->

		<!--Use this one to enable animations-->
        <div ng-view class="theview fadeInDown fadeOutDown"></div>
		<!--Use this one to disable animations-->
		<!--<div ng-view class="theview"></div>-->

        <div>
            <!-- build:js ./../static/combined.js -->
            <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="bower_components/angular-touch/angular-touch.js"></script>
            <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="bower_components/angular-animate/angular-animate.js"></script>
            <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
            <script type="text/javascript" src="app.js"></script>
            <script type="text/javascript" src="views/work/work.js"></script>
            <script type="text/javascript" src="views/experience/experience.js"></script>
            <script type="text/javascript" src="views/skills/skills.js"></script>
			<script type="text/javascript" src="views/careers/careers.js"></script>
            <!-- endbuild -->
        </div>
	</body>
</html>
