    #skills.content {
    }
        #skills.content .skillList {
			margin:0 0 15px 0;
			line-height: 30px;
		}
            #skills.content .skill {
				display: inline-block;
				padding:0 7px;
				margin-right: 6px;
				background-color:#f0f0f0;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				-ms-border-radius: 3px;
				-o-border-radius: 3px;
				border-radius: 3px;
				/*cursor:pointer;*/
				border-bottom: 1px solid #ddd;
				border-right: 1px solid #ddd;
				line-height: 24px;
				height: 24px;
			}
            #skills.content .skill:hover {
				background-color:#93e0ff;
			}
            #skills.content .skill a {
				text-decoration: none;
			}
                #skills.content .skill a:link,
                #skills.content .skill a:visited {
                    color:inherit;
                }

