<section id="skills" class="container content skills-container">
    <!--<script id="gnewtonjs" type="text/javascript" src="//dev-patch.newtonsoftware.com/career/iframe.action?clientId=8a7980d04f8aaf5a014f8abcea53001e"></script>-->
    <script id="gnewtonjs" type="text/javascript" src="//dev-focopreview.newtonsoftware.com/career/iframe.action?clientId=8a7980b04ff6ce6a014ff7295b3e0056"></script>
    <div ng-repeat="skillListItem in skillList">
        <div class="title webtech">
            <h5>{{skillListItem.id}}</h5>
        </div>
        <ul class="skillList">
            <skill ng-repeat="skill in skillListItem.skills"/>
        </ul>
    </div>
</section>
